.c-navigation {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	width: 100%;

	&--open {
		height: 100vh;
		overflow: hidden;
	}

	@include mq(lg) {
		position: relative;
		top: unset;
		left: unset;
		right: unset;
	}
}

.c-navigation__sub-menu {
	@include unity-transition();

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: unity-color('white');
	transform: translateX(100%);
	z-index: 23;

	&.is-active {
		transform: none;
	}

	@include mq(lg) {
		@include unity-container();

		display: flex;
		flex-direction: row;
		top: 100%;
		transform: translateY(-100%);
		z-index: -1;
		padding-top: $g-spacing-xl !important;
		padding-bottom: $g-spacing-xl !important;

		.c-navigation__menu-list {
			flex-direction: column;
		}

		.c-navigation__menu-item--title {
			background-color: transparent;
			padding: 0 $g-spacing-sm $g-spacing-xs;
			color: unity-color('blue');
		}

		.c-navigation__menu-action {
			padding: $g-spacing-xs $g-spacing-sm;
			color: unity-color('blue', 'digital');
		}

		.c-navigation__promo {
			display: flex;
			flex-direction: row;
			padding-top: 0;
			padding-bottom: 0;

			&-item {
				margin-bottom: 0;
				margin-left: $g-spacing-xl;
				max-width: 300px;

				&-description {
					display: block;
				}

				a {
					font-size: 1rem;
				}
			}
		}
	}
}

.c-navigation__overlay {
	@include unity-transition('all', 'slow');

	display: block;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 21;
	opacity: 0;

	&.is-active {
		opacity: 1;
	}
}

.c-navigation__header {
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: unity-color('white');

	@include mq($until: lg) {
		.c-button {
			display: none;
		}
	}

	@include mq(lg) {
		height: 90px;
		position: relative;
		z-index: 22;
	}
}

.c-navigation__logo {
	display: block;
	max-height: 100%;
	max-width: 25%;

	img {
		max-height: 100%;
		max-width: 100%;
		vertical-align: middle;
	}

	+ #{&} {
		position: relative;
		margin-left: $g-spacing;

		&::before {
			content: '';
			display: block;
			width: 1px;
			height: 100%;
			background-color: unity-color('blue');
			position: absolute;
			top: 0;
			left: -($g-spacing / 2);
		}
	}

	@include mq(sm) {
		width: 100px;
	}
}

.c-navigation__toggle {
	@include unity-focus();

	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	margin-left: auto;
	padding: 0 $g-spacing-sm;
	appearance: none;
	background-color: transparent;
	border: none;
	color: unity-color('blue');
	cursor: pointer;

	> * {
		pointer-events: none;
	}

	.c-tempo-icon {
		width: 1.5rem;
		height: auto;
		margin: 0;
		align-self: center;

		+ .c-navigation__toggle-text {
			margin-top: $g-spacing-xxs;
		}
	}

	&-icon {
		display: block;
		width: 75%;
		height: 2px;
		margin: 7px auto;
		background: unity-color('blue');
		box-shadow: 0 -6px unity-color('blue'), 0 6px unity-color('blue');
	}

	&-text {
		margin-top: $g-spacing-xs;
		font-size: 0.75rem;
	}

	+ #{&} {
		margin-left: 0;
	}

	@include mq(lg) {
		flex-direction: row;
		align-items: center;
		color: unity-color('blue', 'digital');

		.c-tempo-icon {
			color: unity-color('blue', 'digital');
			width: 1rem;

			+ .c-navigation__toggle-text {
				margin-top: 0;
				order: -1;
				text-decoration: underline;
			}
		}

		&[aria-controls="main-menu"] {
			display: none;
		}
	}
}

.c-navigation__menu {
	@include unity-transition();

	display: block;
	position: absolute;
	width: 90%;
	height: 100vh;
	top: 0;
	right: 0;
	background-color: unity-color('white');
	z-index: 22;
	overflow-y: auto;
	transform: translateX(100%);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

	&.is-active {
		transform: none;
	}

	&#{&}--sub-menu-open {
		> .c-navigation__menu-list {
			> .c-navigation__menu-item {
				> .c-navigation__menu-action {
					display: none;
				}
			}
		}

		.c-navigation__menu-actions {
			.c-button--back {
				visibility: visible;
				opacity: 1;
				transform: none;
			}
		}
	}

	&-actions {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		padding: 0 $g-spacing-xs;

		.c-button-close {
			margin-left: auto;
		}

		.c-button--back {
			@include unity-transition();

			visibility: hidden;
			color: unity-color('blue', 'digital');
			opacity: 0;
			transform: translateX(50%);

			svg {
				fill: unity-color('blue', 'digital');
			}
		}
	}

	@include mq(md) {
		width: 60%;
	}

	@include mq(lg) {
		width: 100%;
		box-shadow: none;
		height: auto;
		overflow-y: visible;

		&-actions {
			display: none;
		}

		&.u-d-none[id="main-menu"] {
			display: block !important;
			position: static;
			background-color: unity-color('blue');
			transform: none;
			height: 50px;

			> .c-navigation__menu-list {
				height: 100%;

				> .c-navigation__menu-item > .c-navigation__menu-action {
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}

		&:not([id="main-menu"]) {
			top: 100%;
			padding: $g-spacing-xl;
			z-index: -1;

			&:not(.is-active) {
				transform: translateY(-100%);
			}
		}
	}
}

.c-navigation__menu-list {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;

	@include mq(lg) {
		display: flex;
		flex-direction: row;

		&:not(.c-navigation__menu-list--sub-menu) {
			@include unity-container();
		}
	}
}

.c-navigation__menu-item {
	display: block;

	&.is-active {
		position: relative;
	}

	&--title {
		padding: $g-spacing-sm;
		background-color: unity-color('gray');
		color: unity-color('black');
		font-weight: $g-font-bold;
	}

	@include mq(lg) {
		&.is-active {
			position: static;
		}
	}
}

.c-navigation__promo-item {
	margin-bottom: $g-spacing;

	a {
		font-size: 0.875rem;
	}

	&-title {
		color: unity-color('blue');
		font-weight: $g-font-bold;
		margin-bottom: $g-spacing-xxs;
	}

	&-description {
		display: none;
	}
}

.c-navigation__menu-action {
	@include unity-focus();

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: $g-spacing-sm;
	appearance: none;
	color: unity-color('blue');
	background-color: transparent;
	border: none;
	text-align: left;
	text-decoration: none;
	font-weight: $g-font-bold;
	cursor: pointer;
	position: relative;

	> * {
		pointer-events: none;
	}

	.o-svg-icon {
		margin-left: $g-spacing-xs;
		top: 0;
	}

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background-color: unity-color('gray', 'medium');
		position: absolute;
		bottom: 0;
		left: 0;
		transition: all $g-transition-speed $g-timing-function-easeInOut;
		transform-origin: bottom right;
	}

	&:hover,
	&:focus {
		&::after {
			transform: scaleY(3);
			background-color: unity-color('blue');
		}
	}

	&--no-border {
		font-size: 0.875rem;
		color: unity-color('blue', 'digital');
		justify-content: flex-start;

		&::after {
			display: none;
		}
	}

	@include mq(lg) {
		height: 100%;
		color: unity-color('white');

		.o-svg-icon {
			transform: rotate(90deg);
		}

		&::after {
			display: none;
		}
	}
}

.c-navigation__promo {
	padding: $g-spacing-sm;
}

@include mq($until: lg) {
	.c-navigation__zip-form {
		flex-direction: column;

		.c-input-group__input {
			width: 100%;
			margin-bottom: $g-spacing-sm;
		}

		.c-input-group__append {
			width: 100%;
			margin-left: 0;
		}

		.c-button {
			width: 100%;
		}
	}
}

@include mq(lg) {
	.c-navigation__zip-form {
		flex-wrap: wrap;
	}

	#zip-menu-form {
		max-width: 500px;
		margin: 0 auto;

		h2,
		p {
			text-align: center;
		}

		label {
			flex-basis: 100%;
			text-align: left;
		}
	}
}
