.provider-card {
	width: 100%;
	max-width: 338px;
	padding-top: $g-spacing-sm;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	margin: 0 $g-spacing-xs 1.75rem $g-spacing-xs;
	box-shadow: 2px 2px 5px 0 rgba($black, 0.1);

	@include mq(md) {
		padding: $g-spacing $g-spacing-lg $g-spacing-lg $g-spacing-lg;
		margin: 0 $g-spacing-sm $g-spacing-lg $g-spacing-sm;
	}

	.c-button--naked {
		min-height: 0;
	}

	.c-text--leftAlign {
		justify-content: left !important;
	}
}

.provider-card__title {
	margin-bottom: 0.75rem;
	font-size: 22px;
	line-height: 1.75rem;

	@include mq(md) {
		margin-bottom: $g-spacing-sm;
		font-size: 1.5rem;
		line-height: 1.75rem;
	}
}
