<sly data-sly-use.employerPlans="com.mirumagency.uhc.premember.core.models.EmployerPlansList"/>
<h4>${employerPlans.planType} Plans</h4>
<div data-sly-test="${!employerPlans.isAnyPlanAdded}">
    <p>No ${employerPlans.planType} plan options added.</p>
</div>
<sly data-sly-test="${wcmmode.edit}" data-sly-use.allowed="com.day.cq.wcm.foundation.AllowedComponentList"></sly>
<div data-sly-test.isAllowedApplicable="${allowed.isApplicable}"
     data-sly-test="${isAllowedApplicable}"
     class="${allowed.cssClass}"
     data-sly-use.allowedTemplate="/libs/wcm/foundation/components/parsys/allowedcomponents/allowedcomponents-tpl.html"
     data-sly-call="${allowedTemplate.allowedcomponents @ title=allowed.title, components=allowed.components}"></div>
<sly data-sly-test="${!isAllowedApplicable}" data-sly-use.parsysComponent="parsys.js"
     data-sly-list.paragraph="${parsysComponent.renderInfo}">
    <div data-sly-test="${paragraph.columns}" data-sly-list.column="${paragraph.items}" class="${paragraph.columnsContainerCss}">
        <div class="${column.cssClasses}" data-sly-list.columnItem="${column.children}">
            <sly data-sly-test="${columnItem.resourceType}"
                 data-sly-resource="${columnItem.resourcePath @ resourceType=columnItem.resourceType, decoration='true', cssClassName=columnItem.cssClasses}" />
        </div>
    </div>
    <div data-sly-test="${paragraph.columns}" style='clear:both'></div>
    <sly data-sly-test.cssClasses="${[paragraph.cssClasses, 'aem-component--grow-height'] @ join = ' ' }"/>
    <sly data-sly-test="${!paragraph.columns && paragraph.resourceType}"
         data-sly-resource="${paragraph.resourcePath @ resourceType=paragraph.resourceType, decoration='true', cssClassName=cssClasses}" />
</sly>
