$black: #000;
$colors-gray-comet: #6f6f81;
$colors-blue-accent: #00bcd6;
$colors-teal-base: #00bcdc;
$colors-teal-border: #7f9dcf;
$colors-grey-border: #979797;
$colors-blue-dark: #003998;
$colors-violet-base: #9120a9;
$colors-blue-base: #002677;
