.siteExitModal,
.zipModal {
	.c-card--modal__close {
		position: unset;
		top: unset;
		right: unset;
		cursor: pointer;
	}

	@include mq($until: sm) {
		.c-card__footer {
			.o-list-pack__list {
				display: flex;
				flex-direction: column;
				width: 100%;
			}

			.o-list-pack__item {
				display: flex;
				width: 100%;
			}
		}
	}
}
